.member-details {
    margin-left: 20px;
    max-height: 700px;
    overflow: hidden;
    overflow-y: auto;

}

.member-details > * {
    display: inline-block;
    vertical-align: top;
}

.wrapper-photo {
    width: 120px;
    position: relative;
    height: 120px;
}
.wrapper-photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0px,130px,130px,0px);
}

.row-member-details {
    margin-bottom: 10px;
    margin-left: 10px;
}

.row-member-details .label {
    color: #888888;
    font-size: 19px;
}

.row-member-details .name {
    color: #333333;
}

.wrap-current-programs,
.wrap-complete-programs{
    display: block;
    width:80%;
}

.wrap-teams-friends{
    width:100%
}

.head-current-programs,
.head-complete-programs,
.head-teams-friends{
    color: #555555;
    font-size: 19px;
    font-weight: 200;
    margin: 10px 0px;
    border-top: 1px solid #333333;
    padding-top: 10px;
}

.body-current-programs > div > *,
.body-complete-programs > div > *
{
    display: inline-block;
    vertical-align: top;
}

.body-current-programs,
.body-complete-programs{
    margin-left: 15px;
}

.wrap-program-info h6,
.wrap-program-info-complete h6,
.wrap-teams-friends-row h6{
    color: #555555;
    font-size: 15px;
    display: inline-block;
    margin-right: 10px;
    width: 430px;
}

.wrap-program-info span {
    color: #777777;
    font-size: 12px;
}

.wrap-program-info p {
    font-size: 15px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 500px;
}

.wrap-img-programs,
.wrap-img-programs-complete{
    width: 37px;
    height: 45px;
    margin-right: 10px;
}

.wrap-img-programs img{
    width: 100%;
}

.wrap-img-programs-complete img{
    width: 70%;
}

.body-current-programs > div,
.body-complete-programs > div,
.body-teams-friends > div{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #888888;
    border-top: 1px dotted #888888;
    padding-top: 8px;
}

@media all and (min-width: 1903px) {
    .member-details {
        margin-left: 20px;
        position: absolute;
        max-height: 700px;
        overflow: hidden;
        overflow-y: auto;
    }

    .wrap-current-programs,
    .wrap-complete-programs{
        display: block;
        width:auto;
    }
}


.inactive-team{
    color: #f34f5f;
    margin-left: 7px;
}
.active-team {
    color: #4AB106;
    margin-left: 7px;
}

.date-create-team {
    font-size: 11px;
    vertical-align: top;
    color: #999999;
    float: right;
    right: 10px;
    position: relative;
}

.wrap-div-team p {
    margin: 4px 5px;
    font-size: 13px;
}

.wrap-div-team span {
    color: #444;
    margin-right: 5px;
}







