.error {
position: absolute;
width: 25px;
height: 25px;
top: 32%;
right: 1%;
display: none;
}

.error-message {
   position:absolute;
}

.error-label {
width: 100%;
height: 100%;
display: block;
cursor: pointer;
}

.true-error .error-label{
	background-image:url('../images/icon-success-big2.png');
	background-position: 54px -27px;
}

.false-error .error-label{
	background-image:url('../images/icon-error-big2.png');
	background-position: 57px -28px;
}

.true-error{
	
}

.false-error{
	
}

.wrap-rule + .error {
top: 13%;
}

.error-small{
	background-image:url('../images/icon-error-big.PNG');
	background-position: -6px -4px;
}

.success-small{
	background-image:url('../images/icon-success-big.PNG');
	background-position: -6px -4px;
}

.message-rule-field {
width: 196px;
display: inline-block;
}