#popupHolder {
	position: absolute;
	width: 100%;
	top: 0; left: 0;
	z-index: 10;
	display: none;
	}

.popup {
	width: 400px;
	margin: 0 auto;
	background: white;
	border-radius: 5px;
	padding: 20px 0;
	font: normal 14px/22px "Zero";
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.75);		
	
	}	
	.popup h1 {
		font: normal 36px/44px "Oswald Light";
		margin: 0 20px 10px;	
		}
	.popup .popup-content {
		margin: 0 20px;
		}	
	.popup .buttons-wrapper {
		text-align: center;
		}	
	
#eventsBlock {
	margin: 20px;
	font: normal 14px/22px "Zero";
	}
	#eventsBlock h1 {
		font: normal 36px/44px "Oswald Light";
		margin: 0 0 20px 0;
		}
		
		
.calendar-event {
	margin: 40px 0 0 0;
	border-bottom: 1px dashed #adb3ba;
	
	}		
	.calendar-event  h2{
		font: normal 22px/22px "Oswald Light";
		margin: 0 0 5px 0;
		}
		
		.calendar-event .calendar-description {
			margin-bottom: 10px;
			font-style: italic;
			}
		
	.calendar-event  h3 {
		font: normal 18px/24px "Oswald Light";
		}
	
	/*
	.calendar-event	.icon-link {
		width: 24px; height: 24px;
		display: inline-block;
		border: 1px solid #adb3ba;
		text-indent: -10000px;
		margin: 0 10px 0 0;
		border-radius: 5px;
		}
	*/	
	.calendar-event	.icon-link {
		padding: 0 10px 0 0;
		}
		
		.calendar-event .event {
			margin: 0 0 10px 20px;
			}