.footer {
    background-color: #ffffff;
    position: relative;
    max-width: 1330px;
    margin: 0 auto;
}

.copyright-wrapper {
margin-left: 20px;
position: relative;
}

.copyright-wrapper p {
color: #ffffff;
font-family: "Ma Condensed";
padding-top: 6px;
font-weight: 200;
}

.footer-index {
margin-top: 30px;
}

.message-footer-wrap p {
font-family: "Ma Condensed";
font-size: 13px;
font-weight: 200;
line-height: 16px;
}

.copyright-wrapper img {
width: 100px;
margin-top: 15px;
}
