.header {
background-color: #111111;
position: fixed;
width: 100%;
z-index: 30000;
}

.header > * {
display: inline-block;
vertical-align:top;
position:relative;
}

.wrapper-brand {
width: 250px;
}

.wrapper-time-date {
width: 55%;
}

.wrapper-brand img {
width: 95%;
padding-top: 3px;
}

.wrapper-menu {
width: 18%;
text-align: right;
float: right;
margin-right: 7%;
}

.wrapper-menu ul {
	display:none;
position: absolute;
padding: 8px 38px;
background-color: #333333;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
right: 0;
}

.wrapper-menu li {
text-align: center;
list-style-type: none;
}

.wrapper-menu a {
font-size: 16px;
text-decoration: none;
color: #ffffff;
font-family: Oswald;
}

.wrapper-menu a:hover {
   text-decoration:underline;
}

.current-item, .time-head {
font-family: Oswald;
font-size: 20px;
color: #ffffff;
cursor:pointer;
margin-top: 13px;
display: inline-block;
}
.current-item:hover{
	color:#3CC6F0;
}

.time-head {
   font-family: "Oswald Light";
   font-size: 29px;
   color: #ffffff;
   font-weight: 200;
   margin-top: -5px;
   display: inline-block;
}

.register-complete {
background-color: #286301;
font-family: "Oswald Light";
}
