.header {
position: fixed;
width: 100%;
z-index: 30000;
border-bottom: 1px solid #cccccc;
background-color: #ffffff;
box-shadow: 0px -1px 8px #999999;
}

.header > * {
display: inline-block;
vertical-align:top;
position:relative;
}

.wrapper-brand {
width: 70px;
margin-left: 30px;
}

.wrapper-time-date {
width: 55%;
}

.wrapper-brand img {
width: 95%;
padding-top: 3px;
}

.wrapper-menu {
margin-right: 25px;
}

.wrapper-menu ul {
	display:none;
position: absolute;
padding: 8px 38px;
background-color: #ffffff;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
right: -62px;
box-shadow: 0px 0px 3px #999999;
margin-top: 43px;

}

.set-menu {
float: right;
right: 19px;
margin-top: 5px;
}

.set-menu > * {
display: inline-block;
position: relative;
vertical-align: top;
}

.wrapper-menu li {
text-align: center;
list-style-type: none;
}

.wrapper-menu a {
font-size: 21px;
text-decoration: none;
color: #666666;
font-family: Ma Condensed;
line-height: 32px;
padding: 0px 16px;
cursor:pointer;
}

.wrapper-menu a:hover {
   text-decoration:underline;
}

.current-item {
width: 40px;
height: 40px;
display:inline-block;
background-image:url(../images/settings-icon.PNG);
background-repeat:no-repeat;
background-position: -9px -70px;
cursor: pointer;
}
.current-item:hover{
	background-position: -8px -5px;
}
.current-item:hover{
	color:#3CC6F0;
}
.corner-menu {
display: inline-block;
position: absolute;
z-index: 3000;
width: 40px;
height: 20px;
top: -20px;
right: 63px;
background-image:url(../images/corner-menu.PNG);
background-repeat:no-repeat;
background-position-y: -2px;
background-position-x: -6px;
}

.time-head {
   font-family: "Ma Condensed";
   font-size: 29px;
   color: #333333;
   font-weight: 200;
   display: inline-block;
}

.register-complete {
background-color: #286301;
font-family: "Ma Condensed";
}


.adeed-link {
width: 40px;
height: 40px;
display: inline-block;
right: 0px;
position: relative;
background-image:url(../images/added.png);
background-repeat:no-repeat;
background-position: -2px 0px;
cursor:pointer;
}
.adeed-link:hover{
	background-image:url(../images/added-hover.png);
}


.added-wrapper .corner-menu{
	display:none;
}
.added-wrapper {
margin-right: 25px;
}

.added-wrapper ul {
position: absolute;
width: 126px;
background-color: #fff;
border: 1px solid #cccccc;
top: 50px;
right: -11px;
display:none;
}
#addItem-item a{
	border-right:0px;
}

.added-wrapper li {
display: inline-block;
}

.added-wrapper a {
font-family: 'Zero';
padding: 0px 10px;
display: inline-block;
margin: 7px 0px;
border-right: 1px solid #cccccc;
cursor:pointer;
color: #666666;
}

.added-wrapper a:hover{
	text-decoration:underline;
}

.log-out-link{
	background-image: url(../images/quit-icon.PNG);
background-repeat: no-repeat;
background-position: -8px -1px;
width: 45px;
height: 45px;
display: inline-block;
cursor:pointer
}

.log-out-link:hover{
	background-image: url(../images/quit-icon-active.PNG);
}

#nextUpEventsHolder {
display: inline-block;
}



.wrapper-left, .wrapper-right{
    display:inline-block;
    position: relative;
    vertical-align: top;
}

.wrapper-right {
    margin-left: 11px;
}



.row {
    margin-bottom: 10px;
}

.row.simple-button {
    text-align: center;
}

.multi-row .row{
    display:inline-block;
}

.row input:focus{
    outline: 1px dotted rgb(0, 153, 255)
}

.row input[type="text"],
.row input[type="password"]{
    border:1px dotted #cccccc;
    padding-left:7px;
    height:30px;
    width: 250px;

}

.multi-row.full-name-text input {
    width: 112px !important;
    margin-right: 9px;
    left: 5px;
    position: relative;
}

.multi-row.birthday-text input {
    width: 60px !important;
    margin-right: 6px;
}

.multi-row.gender-radio .row {
    margin-right: 23px;
    margin-top: 8px;
    margin-bottom: 15px;
}
.row.simple-radio{
    margin-top: 17px;
}

.multi-row.gender-radio label,
.row.simple-radio label{
    margin-right: 10px;
    margin-left: 6px;
    position: relative;
    top: -2px;
    color: #999999;
    font-size: 13px;
}

.row.simple-button input {
    background-color: rgb(2, 225, 255);
    color: #ffffff;
    padding: 7px 26px;
    font-size: 20px;
    border: 1px dotted rgb(0, 153, 255);
    cursor:pointer;
}
