@import "login-register.css" screen;

.content-page.index-page {
    position: relative;
    z-index: 1000;
    color:#a9b2b7;
    
}

.content-page.index-page > * {
text-align: center;
}
.title-wrap {

}

.title-wrap h1 {
font-size: 624%;
font-weight: 100;
line-height: 100%;
font-family: "Zero";
margin-bottom: 5%;
padding-top: 10%;
}

.brand-wrap img {
width: 20%;
}

.brand-wrap {
margin-bottom: 3%;
}

.row.name-row {
display: inline-block;
width: 50%;
}

.row.name-row input {
width: 128px;
}

.register-wrap img {
width: 10%;
}

.register-wrap h3 {
font-weight: 200;
font-size: 346%;
}

.success-link {
text-decoration: none;
margin-top: 20px;
display: inline-block;
color:#269ABD;
}

.success-link:hover{
	text-decoration:underline;
}
