@import "login-register.css" screen;

.content-page.index-page {
    position: relative;
    z-index: 1000;
    color:#a9b2b7;
    
}

.content-page.index-page > * {
text-align: center;
}
.title-wrap {

}

.title-wrap h1 {
font-size: 624%;
font-weight: 100;
line-height: 100%;
font-family: "Zero";
margin-bottom: 5%;
padding-top: 7%;
}

.brand-wrap img {
width: 20%;
}

.brand-wrap {
margin-bottom: 3%;
}

.row.name-row {
display: inline-block;
width: 50%;
}

.row.name-row input {
width: 114px;
}

.register-wrap img {
width: 10%;
}

.register-wrap h3 {
font-weight: 200;
font-size: 346%;
}

.success-link, .error-link {
text-decoration: none;
margin-top: 20px;
display: inline-block;
color:#269ABD;
}

.success-link:hover, .error-link:hover{
	text-decoration:underline;
}

.gradient-layout{
	background: #fbddc3;
background: -moz-linear-gradient(-45deg,  #fbddc3 0%, #bbd3fa 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fbddc3), color-stop(100%,#bbd3fa));
background: -webkit-linear-gradient(-45deg,  #fbddc3 0%,#bbd3fa 100%);
background: -o-linear-gradient(-45deg,  #fbddc3 0%,#bbd3fa 100%);
background: -ms-linear-gradient(-45deg,  #fbddc3 0%,#bbd3fa 100%);
background: linear-gradient(135deg,  #fbddc3 0%,#bbd3fa 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbddc3', endColorstr='#bbd3fa',GradientType=1 );

}
