.register-wrap {
font-family: "Zero";
font-weight: 200;
font-size: 160%;
}

.register-wrap .link-wrap > span {
cursor:pointer;
}

.register-wrap .link-wrap > span:hover{
	text-decoration:underline;
}
.register .link-wrap > span{
	padding: 10px 90px;
border-bottom: 1px dashed #999999;
display: inline-block;
}

.inner-popup {
display: inline-block;
padding-bottom: 15px;
border-bottom: 1px dashed #999999;
padding-top: 15px;
}

.row input {
width: 269px;
border: 1px solid #cccccc;
padding: 4px 0px 4px 8px;
font-family: "Zero";
font-size: 15px;
}

.row input:focus{
	outline:1px solid #3cc6f0;
}

.row {
position: relative;
}

.row input[type="button"] {
background-color: #3cc6f0;
border:1px solid #269abd;
padding: 2px 5px;
width: 100%;
font-size: 19px;
cursor:pointer;
}

.disable-button{
	color:#8fd4e9;
}

.open-button{
	color:#ffffff;
}

.wrap-rule {
position: relative;
width: 275px;
text-align: left;
margin-left: 4px;
}

.title-rule {
display: inline-block;
text-align: left;
font-weight: 200;
font-size: 15px;
vertical-align: top;
}

.inner-rule {
display: inline-block;
width: 160px;
padding-top: 4px;
}

.rule-field {
font-size: 11px;
margin-bottom: 5px;
margin-left: 24px;
}

.icon-rule-field {
width: 15px;
height: 15px;
display: inline-block;
position: absolute;
margin-left: -17px;
margin-top: 2px;
}


