@import url("oswald/oswald.css");
@import url("zero/zero.css");
@import "header.css" screen;
@import "footer.css" screen;
@import "zero.css" screen;
@import "index.css" screen;
@import "user-display.css" screen;
@import "jslider.css" screen;
@import "jslider.round.plastic.css" screen;
*{margin:0; padding:0; border:0;}

html, body{
	height:100%;
}

body{

}

#wrapper{
	position:relative;
	min-height:100%;
}

.register-complete-page h1{
	font-size:150px;
	font-weight:200;
	color:#333333;
}

button {
margin: 10px;
padding: 10px 12px;
background-color: #222222;
cursor: pointer;
color: #ffffff;

}
