@import url("oswald/oswald.css");
@import url("zero/zero.css");
@import "index.css" screen;
*{margin:0; padding:0; border:0;}

html, body{
	height:100%;
}

body{

}

#wrapper{
	position:relative;
	min-height:100%;
}

.register-complete-page h1{
	font-size:150px;
	font-weight:200;
	color:#333333;
}

