@import url("zero/zero.css");
@import url("ma/ma_font.css");
@import "header.css" screen;
@import "footer.css" screen;
@import "zero.css" screen;
@import "index.css" screen;
@import "user-display.css" screen;
@import "jslider.css" screen;
@import "error.css" screen;
@import "jslider.round.plastic.css" screen;
@import "jquery.formstyler.css" screen;
*{margin:0; padding:0; border:0;}

html, body{
    height:100%;
}

body{

}

#wrapper{
    position:relative;
    min-height:100%;
}

.register-complete-page h1{
    font-size:150px;
    font-weight:200;
    color:#333333;
}

button {
margin: 10px;
padding: 10px 12px;
background-color: transparent;
cursor: pointer;
color: #FF9933;
font: normal 18px/18px "Ma Condensed";

}

/*---checkbox---*/

.control-checkbox {
    width: 56px;
    height: 28px;
    display: inline-block;
    position:relative;
    border:1px solid #e98d31;
    border-radius: 40px;
    }

.wrap-switcher {
    width: 100%;
    height: 100%;
    position: relative;
    }
.back-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 14px;
    z-index: 9;
    }
.control {
    width: 50%;
    height: 100%;
    position: absolute;
    display: inline-block;
    border-radius: 14px;
    background-color: #ffffff;
    box-shadow: -1px 1px 1px #888888;	
    z-index: 10;
    left: 50%;
    cursor: pointer;
    }
    
select.dropdown{
    width: 200px;
}




.cross-close {
	position: fixed;
	width: 40px;
	height: 40px;
	background-color: #111111;
	right: 0;
	top: 0;
	margin-right: 40px;
	margin-top: 35px;
	cursor:pointer;
}


	
/*Page template*/
.module-block {
	margin: 20px;
	font: normal 14px/22px "Zero";
	}	
	.module-block h1 {
		font: normal 36px/44px "Ma Condensed";
		margin: 0 0 20px 0;	
		}
/*
	noty_message
*/		
.noty_message {
	font: normal 14px/22px "Zero";
	}
	

.main-content {
width: 74%;
display: inline-block;
}

.opacity-layout{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#fff;
	opacity:0.6;
}

.popup-handler {
font-size: 11px;
position: absolute;
text-decoration: none;
display: inline-block;
top: 11px;
color: #666666;
}
	