#nextUpEventsHolder {
    display: inline-block;
    vertical-align: top;
}

#nextUpEventsHolder  .firstRow{
    width: 100%;
}

#nextUpEventsHolder .nextRow{
    width: 100%;
}

.firstRow > div {
    display: inline-block;
    vertical-align: top;
}

.nextRow > div {
    display: inline-block;
    vertical-align: top;
}

.nextupevents .firstRow .leftNextUpEvent {
    width: 350px;
    height: 240px;
}

.nextupevents .firstRow .rightNextUpEvent {
    width: 260px;
    height: 240px;
}

.nextupevents .nextRow .leftNextUpEvent {
    width: 260px;
    height: 200px;
}

.nextupevents .nextRow .rightNextUpEvent {
    width: 350px;
    height: 200px;
}

.nextUpEvent {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.nextUpEvent .eventHeader{
    padding:10px;
}

.nextUpEvent .leftEventBorder{
    border-left: 2px solid #2D8BC7;
    margin-left: 10px;
    height: 160px;
}

.nextUpEvent .eventHeader h1{
    float: left;
    color: #444444;
    font: normal 32px/34px "Ma Condensed";
    padding-left: 0;
    padding-right: 30px;
    width: 36%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nextUpEvent h3{
    color: #00AD63;
    text-transform: uppercase;
    font: normal 28px/30px "Ma Condensed";
    float:left;
}

.nextUpEvent .eventtime{
    color: #444444;
    display:inline-block;
    float:right;
    vertical-align: top;
    font: normal 46px/48px "Ma Condensed";
}

.nextUpEvent .eventtime .ampm{
    color: #444444;
    float:right;
    text-transform: uppercase;
    font: normal 20px/22px "Ma Condensed";
    padding-top: 5px;
    margin-left: -10px;
}

.nextUpEvent h1{
    color: #444444;
    font: normal 28px/30px "Ma Condensed";
    padding-left:10px;
    padding-right:10px;
}

.nextUpEvent h2{
    color: #444444;
    font: normal 22px/24px "Ma Condensed";
    padding-left:10px;
    padding-right:10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nextUpEvent h4{
    color:#B5B5B5;
    font: normal 20px/22px "Ma Condensed";
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
}

.nextUpEvent span{
    color:#B5B5B5;
    font: normal 16px/18px "Ma Condensed";
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;

}

.leftEventBorder span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 79%;
}

.nextUpEvent > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    display: inline-block;
}






