.popup{
    display:none;
}


.popup {
	width: 400px;
	margin: 0 auto;
	background: white;
	border-radius: 5px;
	padding: 20px 0;
	font: normal 14px/22px "Zero";
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.75);		
	
	}	
	.popup h1 {
		font: normal 36px/44px "Ma Condensed";
		margin: 0 20px 10px;	
		}
	.popup .popup-content {
		margin: 0 20px;
		}	
	.popup .buttons-wrapper {
		text-align: center;
		}



.popup-content .row {
	margin: 0 0 10px 0;
	}		
	.popup-content .row  label {
		display: inline-block;
		width: 100px;
		vertical-align: top;
		}		

.error-element {
	border: 1px solid indianred!important;
	}		

	
.popup-container {
	width: 400px;
	position: absolute;
	background-color: #fff;
	top: 0;
	z-index: 300;
	margin-top: 200px;
	left: 50%;
	margin-left: -200px;
	}
.popup-container.popup {
	padding: 20px 0 20px;
	}	
	
	.popup-container .content-popup-inner {
		margin: 0 20px;
		}
	.popup-container .header-popup-inner {
		width: 100%;
		overflow: hidden;
		}
		.popup-container .header-popup-inner h1{
			display: inline-block;
			}
		.popup-container .header-popup-inner .popup-toolbar-menu	{
			float: right;			
			}
			.popup-container .header-popup-inner .popup-toolbar-menu a {
				outline: none;
				}
			
			.header-popup-inner .popup-toolbar-menu .add-icon {
				float: left;
				width: 38px;	
				height: 38px;
				text-indent: -10000px;
				background: url(../images/popupAdd.PNG) 0 0 no-repeat;
				margin-right: 10px;
				}
				.header-popup-inner .popup-toolbar-menu .add-icon:hover,
				.header-popup-inner .popup-toolbar-menu .add-icon.active {
					background: url(../images/popupAdd.PNG) 0 -66px no-repeat;
					}
			.header-popup-inner .popup-toolbar-menu .list-icon {
				width: 38px;	
				height: 38px;
				float: left;			
				text-indent: -10000px;
				background: url(../images/listPopup.PNG) 0 8px no-repeat;
				}				
				.header-popup-inner .popup-toolbar-menu .list-icon:hover,
				.header-popup-inner .popup-toolbar-menu .list-icon.active{
					background: url(../images/listPopup.PNG) 0 -68px no-repeat;
					}
		.header-popup-inner .close-popup {
			border: none;
			background: white;
			color : #fda14b;
			font: normal 18px/18px "Ma Condensed";
			float: right;
			margin-top: 0;		
			}		
			

.jq-selectbox li {
    font: normal 14px/16px "Ma Condensed"
    }
	
.autocomplete-suggestions {
	background-color: white;
	}	
	.autocomplete-suggestions .autocomplete-suggestion {
		padding: 4px 10px;
		background: white;
		width: 400px;
		cursor: pointer;
		font: normal 17px/22px "Ma Condensed";
		color : #7a7a7a;		
		}
		.autocomplete-suggestions .autocomplete-suggestion strong {
			color: #12d1f9;
			font-weight: normal;
			}	
			
			


.popup .content-popup-inner .row input {
	width: 98%;
	font: normal 17px/22px "Ma Condensed";
	border: none;
	border-bottom: 1px solid #e5e5e5;
	margin: 5px 0;
	color : #7a7a7a;
	text-indent: 20px;
	padding: 4px 0;
	}
.popup .content-popup-inner .row select  {
	display: inline-block;
	border: 1px solid #e5e5e5;
	}	
	.popup .content-popup-inner .row select option {
		display: block;
		height: 20px;
		line-height: 20px;
		}
	
.livesearch-input {
	width: 40%;
	font: normal 17px/22px "Ma Condensed";
	border: none;
	border-bottom: 1px solid #e5e5e5;
	margin: 5px 0;
	color : #7a7a7a;
	text-indent: 20px;
	padding: 4px 0;
	}	
	
	
	
.popup .content-popup-inner .row textarea {
	width: 98%;
	border: 1px solid #e5e5e5;	
	height: 50px;
	}	

.popup .content-popup-inner .row .title {
	font: normal 20px/22px "Ma Condensed";
	color : #777777;
	margin: 10px 0;

	}
	
.popup .content-popup-inner .row .groupPopupFooter {
	text-align: right;
	}	
	.popup .content-popup-inner .row .groupPopupFooter button {
		display: inline-block;
		border: none;
		background: white;
		color : #fda14b;
		font: normal 18px/18px "Ma Condensed";
		margin-top: 0;	 
		}
#participiantsHolder {
	color : #777777;
	}		

.popup .content-popup-inner .row .add-button {
	border: none;
	background: white;
	font: normal 17px/22px "Ma Condensed";
	color : #7a7a7a;		
	}
	
/*Popup Actions*/
.popup .actionHolder {
	text-align: right;
	}	
	.popup .actionHolder button {
		display: inline-block;
		border: none;
		background: white;
		color : #fda14b;
		font: normal 18px/18px "Ma Condensed";		
		}			
		

#addGroupPopup #isGroup {
	width: 20px;
	}	
	
.popup .main-content {
	max-height: 500px;
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
	}			
	
.create-group-holder  input{
	width: 98%;
	font: normal 17px/22px "Ma Condensed";
	border: none;
	border-bottom: 1px solid #e5e5e5;
	margin: 5px 0;
	color : #7a7a7a;
	text-indent: 20px;
	padding: 4px 0;
	}	
.create-group-holder  #searchCriteria {
	width: 40%;
	}	
	
.popup .group-holder	 {
	width: 100%;
	overflow:hidden;
	}
	.popup .group-holder	 .group-list {
		width: 200px;
		float: left;
		margin-right: 10px;
		}
	.popup .group-holder .group-window {
		float: left;
		width: 540px;
		display: none;
		}	
		.team-nav {
			display: block;
			list-style: none;
			margin: 0 0 10px 0;
			}	
			.popup .group-holder .group-window ul.team-nav li {
				display: inline-block;
				margin: 0 10px 0 0;
				}

.team-nav li a {
	color: #cacaca;
	text-decoration: none;
	}
.team-nav li a.active {
	color: #393939;
	}
		
		
.memebers-list ul {list-style: none;}		
.memebers-list ul li {
	display: inline-block;
	width: 100px;
	margin: 0 20px 0 0;
	}
	.memebers-list ul li .avatar-holder {
		margin: 0 auto;		
		}
	.memebers-list ul li span.person-name {
		display: block;
		text-align: center;
		}	

.add-group-button {
	clear: both;
	}
	
	
/*Event List popup*/
#calendarRange {
	
	}	
	#calendarRange .row {
		display: inline-block;
		width: 280px;
		}
		#calendarRange .row input {
			width: 150px;
			margin: 0 0 0 10px;
			}
			
.calendars {
	width: 250px;
	display: inline-block;
	margin: 0 10px 0 0;
	max-height: 430px;
	overflow: hidden;
	overflow-y: auto;
	}			
	.calendars .item {
		padding: 5px;
		margin: 0 0 20px 0;
		}
		.calendars .item h3 {
			text-overflow: ellipsis;
			overflow: hidden;			
			}
		.calendars .item.active {
			background: ghostwhite;
			}	
		
.events-calendars-holder .fCal {
	border-left: 4px solid #fdba57!important;
	}
.events-calendars-holder .sCal {
	border-left: 4px solid #818b8f!important;
	}	
.events-calendars-holder .tCal {
	border-left: 4px solid #dbe2e3!important;
	}	
		
.events-holder {
	display: inline-block;
	vertical-align: top;
	width: 660px;
	}			
	.events-holder .event {
		border-left: 4px solid #0b71b5;
		margin-bottom: 10px;
		padding: 5px 20px;
		}
		
		.events-holder .header-event {
			width: 100%;
			overflow: hidden;
			}
		
		.events-holder .header-event a {
			display: block;
			float: right;
			color : #FF9933;
			text-decoration: none;
			margin: 0 0 0 10px;
		}
		
		.events-holder .event h3 {
			font: 24px/24px 'Ma Condensed';
			display: inline-block;
			}
		.events-holder .event h3.pointer {
			cursor: pointer;
			}	
		.events-holder .event .full-info {
			display: none;
			}
			
			.events-holder .event .full-info .event-location {
				font-size: 17px;
				}	
			.events-holder .event .full-info .left-part,
			.events-holder .event .full-info .right-part {
				display: inline-block;
				vertical-align: top;
				}
			.events-holder .event .full-info .left-part {
				width: 300px;				
				/*border-right: 1px solid #cfcfcf;*/
				margin-right: 10px;
				}	
			.events-holder .event .full-info .right-part{
				margin-left: 10px;		
				width: 290px;
				}
				
				.events-holder .event .full-info .right-part 	.attendees-list {
					max-width: 330px;
					}
					.events-holder .event .full-info .right-part 	.attendees-list li {
						display: inline-block;
						width: 100px;
						margin: 0 15px;
						text-align: center;
						}
						.events-holder .event .full-info .right-part 	.attendees-list li .avatar-holder {
							display: block;
							margin: 0 auto;
							}
						.events-holder .event .full-info .right-part 	.attendees-list li .person-info {
							display: block;
							overflow: hidden;
							text-overflow: ellipsis;
							text-align:center;
							}
	
	
.event-day-time {
	font-size: 18px;
	}
	
.event-day-time .event-day {
	font-size: 14px;
	padding: 0 10px 0 0;
	}	
	.event-day-time h3 {
		font-size: 24px;
		}
		
.attendees-list {
	list-style: none;
	}		
	
	
.checkbox-row {
	margin: 20px 0;
	}
	
.checkbox-row label{
	display: inline-block;
	height: 28px;
	line-height: 28px;
	margin: 0 10px 0 0;
	vertical-align: top;
	}	


table.cost-persons-list th.name {
	width: 300px;
	}
table.cost-persons-list th.paid {
	width: 60px;
	}	
	
table.cost-persons-list .person-paid {
	text-align: center;
	}	
	
input.paidInput {
	width: 30px;
	border: 1px solid #E5E5E5;
	line-height: 28px;
	height: 28px;
	}	
	
.event-tab .attendees li {
	display: inline-block;
	width: 110px;
	margin-right: 10px;
	}	
	.event-tab .attendees li .avatar-holder {
		margin: 0 auto;
		}
	.event-tab .attendees li .person-info {
		text-align: center;
		display: block;
		}	