#userHolder {
text-align: left;
display: inline-block;
margin-left: 5%;
margin-top: 1%;
font-family: "Ma Condensed";
font-weight: 200;
font-size: 20px;
color: #444444;
margin-bottom: -3%;
}

#userHolder> * {
display: inline-block;
vertical-align: top;
}

#userHolder h1 {
	font-family: "Ma Condensed Light"
	}

.account-photo{
width: 100px;
height: 100px;
border-radius: 300px;
margin-bottom: 37px;
top: -15px;
position: relative;
}

.welcome-user {
margin-left: 10px;
}

.welcome-user > h1 {

}
.welcome-user span {
margin-left: 10px;
display: inline-block;
}

#currentDate {
font-size: 16px;
display: inline-block;
}

#diagramHolder {
position: relative;
z-index: 300;
min-height: 400px;
width: 74%;
display: inline-block;
vertical-align: top;
}
}

.willpower-diagram {
display: inline-block;
}

.positive{
	background: #67af4f;
background: -moz-linear-gradient(top,  #67af4f 0%, #358c2f 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67af4f), color-stop(100%,#358c2f));
background: -webkit-linear-gradient(top,  #67af4f 0%,#358c2f 100%);
background: -o-linear-gradient(top,  #67af4f 0%,#358c2f 100%);
background: -ms-linear-gradient(top,  #67af4f 0%,#358c2f 100%);
background: linear-gradient(to bottom,  #67af4f 0%,#358c2f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67af4f', endColorstr='#358c2f',GradientType=0 );

}

.negative{
	background: #ce5f5f;
background: -moz-linear-gradient(top,  #ce5f5f 1%, #a33737 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ce5f5f), color-stop(100%,#a33737));
background: -webkit-linear-gradient(top,  #ce5f5f 1%,#a33737 100%);
background: -o-linear-gradient(top,  #ce5f5f 1%,#a33737 100%);
background: -ms-linear-gradient(top,  #ce5f5f 1%,#a33737 100%);
background: linear-gradient(to bottom,  #ce5f5f 1%,#a33737 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce5f5f', endColorstr='#a33737',GradientType=0 );

}
.diagram-body {
height: 100px;
position: relative;
margin-bottom: 30px;
border-bottom: 1px solid #999999;
}

.diagram-item{
    height: 0px;
    box-shadow: 1px 0px 3px #666666;
    opacity: 0.6;
}

.account-photo img {
width: 78%;
}

.diagram-item-wrap {
width: 38px;
display: inline-block;
margin-left: 20px;
height: 100%;
position: relative;
}
.diagram-sub-title {
font-size: 57%;
display: inline-block;
color: #666666;
top: 103%;
height: 10px;
color: #333333;
font-size: 13px;
font-weight: 500;
font-family: "Ma Condensed";
text-align: center;
}
.diagram-item-wrap > * {
position: absolute;
width: 100%;
bottom: 0;
}

.diagram-item span {
font-family: 'Ma Condensed';
position: relative;
top: -21px;
margin-left: 10%;
}

.willpower-diagram h3 {
margin-bottom: 24px;
font-size: 27px;
font-family: "Ma Condensed";
}

.diagram-item-wrap:last-child {
margin-right: 20px;
}


.switcher {
text-align: right;
position: absolute;
right: 0;
}

.col {
display: inline-block;
margin-right: 10px;
}

.col label {
font-family: 'Ma Condensed';
text-decoration: underline;
cursor: pointer;
color: #0072BC;
}

.col input {
display: none;
}

.reset-settings {
margin-left: 4%;
margin-top: 3%;
}

.reset-settings a {
font-family: "Ma Condensed";
color: #0072BC;
}

.chart-yesterday {
color: #666666;
font-family: "Ma Condensed";
border-top: 1px dashed #999999;
padding-top: 15px;
margin-left: 15px;
margin-right: 15px;
}
.header-yes {
text-align: center;
font-family: "Ma Condensed Light";
}

.chart-yesterday h2 {
font-size: 17px;
font-weight: 200;
text-align: center;
}

.chart-yesterday img {
width: 100%;
}

.wrap-p p {
font-size: 12px;
padding: 20px;
padding-bottom: 8px;
padding-top: 3px;
}

.nike-info a {
	color:#0072BC;
}


