@import url("zero/zero.css");
@import url("ma/ma_font.css");
* {
	margin: 0;
	padding: 0;
}

header, nav, section, article, aside, footer {
	display: block;
}
	
.zero {
	font-family : "Zero", Tahoma;
	}
/*
	Common Colors
*/
.c-dgrey {
	color : #383e44;
	}
	
	
#wrapper {
	width: 100%;
	clear: both;	
	}	
	
	#wrapper .content {
		width: 74%;
		display: inline-block;
		vertical-align: top;
		padding-bottom: 100px;
		position: relative;
		border-right: 1px solid #cccccc;
		z-index: 200;
		margin-top: 60px;
		}	
		
		#wrapper .content.no-border {
			border-right: 0;
			}
		
	#wrapper aside {
		width: 25%;
		display: inline-block;
		vertical-align: top;
		padding-bottom: 100px;
		margin-top: 60px;
		}

		
.header-block {	
	/*height: 130px;
	text-align: right;*/
	position: relative;
	}	
	

/*
	Weather
*/	
.weather {
	display: inline-block;
	text-align: left;
	margin: 36px 80px 0 0;
	}
	.weather .grad {
		font: normal 48px/54px "Ma Condensed";
		}
		.weather .grad sup {
			font-size: 30px;
			}
	.weather .text {
		font: normal 18px/20px "Ma Condensed";
		}
/*
	Time
*/	

.clock-block {
	margin: 17px 0 20px 0;
	text-align: center;
	}

.town {
	display: inline-block;
	padding: 0 5%;
	}

.time {
	font: normal 36px/44px "Ma Condensed";
	margin-bottom: 10px;
	}
.place {
	font: normal 18px/20px "Ma Condensed";
	}	

	
/*
	Calendar
*/	
	
.calendar {
	font-family : "Ma Condensed", Tahoma;
	color: #6a7379;
	border-top: 1px dashed #c5c5c5;
	margin: 0 5%;
	padding: 0;
	}
	.calendar h2 {
		font-size: 30px;
        color: #383e44;
        font-weight: 200;
		margin-top: 10px;
        margin-bottom: 10px;
		}
		
	.calendar .event {
		border: 1px solid #f1f1f1;
		border-left: 7px solid #0072bc;
		margin: 0 0 8px 0;
		padding: 10px;
		border-radius: 10px;
		}	
	.calendar .event h2 {
		font: normal 20px/42px "Ma Condensed", Times;
		}	
	.calendar .event h3 {
		font-weight: bold;
		font-size: 18px;
		color : #8b949d;
		text-transform: uppercase;
		}
	.calendar .persons {
		font: normal 16px/20px "Zero";
		}
    .dates {
        font-size: 12px;
        margin-top: -9px;
        }
/*
	Account
*/		
#accountBlock {
	margin: 0 0 0 20px;
	padding: 30px 0 0 0;
	}
	#accountBlock button {
		border: 1px solid #f1f1f1;
		background: white;
		padding: 5px 10px;
		border-bottom: 2px solid #0072bc;
		border-radius: 5px;
		font-family: "Zero";
		border-bottom: 2px solid #0072bc;
		-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.75);		
		cursor: pointer;
		margin-left: 0;
		color: #000;
		}
	
	#accountBlock button.fitbit {
		border-bottom: 2px solid #ea7147;
		}
		
.account-item {
	font: normal 14px/18px "Zero";
	margin: 0 0 40px 0;
	}		
	.account-item h2 {
		font: normal 22px/22px "Ma Condensed";
		}
		
#nikeTokken {
	border : 1px solid #ccc;
	border-radius: 3px;
	font: normal 14px/22px "Zero";
	padding: 6px 4px;
	width: 250px;
	margin-right: 10px;
	}		
	
.account-list, .nike-info {
	margin: 10px 0 20px 0;
	}	
	
