@import url("zero/zero.css");
@import url("ma/ma_font.css");
* {
	margin: 0;
	padding: 0;
}

header, nav, section, article, aside, footer {
	display: block;
}
	
.zero {
	font-family : "Zero", Tahoma;
	}
/*
	Common Colors
*/
.c-dgrey {
	color : #383e44;
	}
	
#yesterdayCharts {
min-height: 200px;
}
	
#wrapper {
	width: 100%;
	clear: both;	
	}	
	
	#wrapper .content {
		width: 100%;
		display: inline-block;
		vertical-align: top;
		padding-bottom: 100px;
		position: relative;
		z-index: 200;
		margin-top: 56px;
		}	
		
		#wrapper .content.no-border {
			border-right: 0;
			}
		
	#wrapper aside {
		width: 25%;
		display: inline-block;
		vertical-align: top;
		padding-bottom: 100px;
		margin-top: 60px;
		}

		
.header-block {	
	/*height: 130px;
	text-align: right;*/
	position: relative;
	margin-bottom: -30px;
	width: 74%;
	display: inline-block;
vertical-align: top;
	}	
	

/*
	Weather
*/	
.weather {

    vertical-align: top;
    margin-right: 27px;
	}
    .weather .weathericon{
        max-height: 70px;
        max-width: 70px;
        width: 70px;
        height: 70px;
        vertical-align: top;
    }
    .weather .weathermsg{
        font: normal 16px/18px "Ma Condensed";
        width: 70px;
    }
    .weather .text{
        display: inline-block;
        vertical-align: top;
    }
	.weather .grad {
		font: normal 30px/32px "Ma Condensed";
		}
		.weather .grad sup {
			font-size: 20px;
			}
	.weather .type{
		font: normal 14px/16px "Ma Condensed";
		}
/*
	Time
*/	

.clock-block {
	margin: 17px 0 20px 0;
	text-align: center;
	}

.weather-clock-block {
    margin: 17px 0 20px 0;
    text-align: center;
    display: inline-block;
vertical-align: top;
position:relative;
margin-top: -60px;
    }
    .weather-clock-block .town{
        vertical-align: top;
    }

.town {
	display: inline-block;
	}

.time {
	font: normal 30px/32px "Ma Condensed";
	margin-top: 8px;
	}
.place {
	font: normal 14px/16px "Ma Condensed";
	}	

	
/*
	Calendar
*/	
	
.calendar {
	font-family : "Ma Condensed", Tahoma;
	color: #6a7379;
	border-top: 1px dashed #c5c5c5;
	margin: 0 5%;
	padding: 0;
	}
	.calendar h2 {
		font-size: 30px;
        color: #383e44;
        font-weight: 200;
		margin-top: 10px;
        margin-bottom: 10px;
		}
		
	.calendar .event {
		border: 1px solid #f1f1f1;
		border-left: 7px solid #0072bc;
		margin: 0 0 8px 0;
		padding: 10px;
		border-radius: 10px;
		}	
	.calendar .event h2 {
		font: normal 20px/42px "Ma Condensed", Times;
		}	
	.calendar .event h3 {
		font-weight: bold;
		font-size: 18px;
		color : #8b949d;
		text-transform: uppercase;
		}
	.calendar .persons {
		font: normal 16px/20px "Zero";
		}
    .dates {
        font-size: 12px;
        margin-top: -9px;
        }
/*
	Account
*/		
.account-tab {
	margin: 0 0 0 20px;
	}
	.account-tab button {
		background: white;
		padding-top: 10px;
        font: normal 14px/22px "Zero";
		cursor: pointer;
		margin-left: -15px;
        color: #818281;
        border:none;
		}

.account-item {
	font: normal 14px/18px "Zero";
	margin: 0 0 40px 0;
	}		
	.account-item h2 {
		font: normal 22px/22px "Zero";
		}
    .account-item h3 {
        padding-top: 10px;
        font: bold 14px/18px "Zero";
        text-decoration:underline;
    }
    .account-item img{
        width:20px;
        height:20px;
        margin-right: 10px;
        vertical-align: top;
    }
    .account-item .googleAccount{
        display:inline-block;
    }
    .account-item .jawboneAccount {
        display: inline-block;
    }
    .account-item .googleAccount .g1{
        color:#0147F7
    }
    .account-item .googleAccount .o1{
        color:#F6022B
    }
    .account-item .googleAccount .o2{
        color:#FFB102
    }
    .account-item .googleAccount .g2{
        color:#0147F7
    }
    .account-item .googleAccount .l{
        color:#02CD35
    }
    .account-item .googleAccount .e{
        color:#FF223F
    }

    .account-item .fitbitAccount{
        display:inline-block;
    }

    .account-item .fitbitAccount span{
        color:#292929
    }
    .connected{
        color: #818281;
        margin-top: 10px;
        font-weight: 600;
        text-decoration: underline;
    }
		
#nikeTokken {
	border : 1px solid #ccc;
	border-radius: 3px;
	font: normal 12px/16px "Zero";
	padding: 6px 4px;
	width: 250px;
	margin-right: 20px;
	}		
	
.account-list, .nike-info {
	margin: 10px 0 20px 0;
	}

.leftNextUpEvent{
    float:left;
}

.rightNextUpEvent{
    float:right;
}

.nextupevents .firstRow .leftNextUpEvent {
    width: 350px;
    height: 240px;
}

.nextupevents .firstRow .rightNextUpEvent {
    width: 260px;
    height: 240px;
}

.nextupevents .nextRow .leftNextUpEvent {
    width: 260px;
    height: 200px;
}

.nextupevents .nextRow .rightNextUpEvent {
    width: 350px;
    height: 200px;
}

.nextUpEvent {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.nextUpEvent .eventHeader{
    padding:10px;
}

.nextUpEvent .leftEventBorder{
    border-left: 2px solid #2D8BC7;
    margin-left: 10px;
    height: 160px;
}

.nextUpEvent .eventHeader h1{
    float: left;
    color: #444444;
    font: normal 32px/34px "Ma Condensed";
    padding-left: 0;
    padding-right: 30px;
    width: 36%;
}

.nextUpEvent h3{
    color: #00AD63;
    text-transform: uppercase;
    font: normal 28px/30px "Ma Condensed";
    float:left;
}

.nextUpEvent .eventtime{
    color: #444444;
    display:inline-block;
    float:right;
    vertical-align: top;
    font: normal 46px/48px "Ma Condensed";
}

.nextUpEvent .eventtime .ampm{
    color: #444444;
    float:right;
    text-transform: uppercase;
    font: normal 20px/22px "Ma Condensed";
    padding-top: 5px;
    margin-left: -10px;
}

.nextUpEvent h1{
    color: #444444;
    font: normal 28px/30px "Ma Condensed";
    padding-left:10px;
    padding-right:10px;
}

.nextUpEvent h2{
    color: #444444;
    font: normal 22px/24px "Ma Condensed";
    padding-left:10px;
    padding-right:10px;
    text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.nextUpEvent h4{
    color:#B5B5B5;
    font: normal 20px/22px "Ma Condensed";
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
}

.nextUpEvent span{
    color:#B5B5B5;
    font: normal 16px/18px "Ma Condensed";
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;

}

.leftEventBorder span {
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
display: inline-block;
position: relative;
width: 79%;
}

.nextUpEvent > span {
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width: 90%;
display: inline-block;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}
.cf {
    *zoom: 1;
}

.smalldatepicker {
    position: relative;
    margin-left: 15px;
margin-right: 15px;
}

.addEventButton {
    color: #FF9933;
cursor: pointer;
display: inline-block;
width: 100%;
z-index: 100;
position: relative;
padding-top: 10px;
padding-bottom: 15px;
border-top: 1px solid #cccccc;
    
}

.addEventButton:hover{
	background-color:#cccccc;
	opacity:0.7;
}

    .addEventButton p{
        font: normal 30px/32px "Ma Condensed";
display: inline-block;
margin-right: 10px;
    }

    .addEventButton div{
       font: normal 24px/26px "Ma Condensed";
color: #FF9933;
display: inline-block;
    }
    
    
.weather-clock-block.cf {
margin: 11px 0px 22px 0px;
width: 100%;
border-bottom: 1px solid #cccccc;
}

.weather-clock-block.cf > * {
display: inline-block;
}

#diagramEventHolder {
position: absolute;
display: inline-block;
top: 76%;
left: 7%;
width: 66.5%;
height: 56px;
z-index: 1000;
}


.hidden {
	display: none;
	}
	
.copyright-wrapper img {
	display: inline-block;
	margin: 12px 100px 0 0;
	}	
	.copyright-wrapper ul {
		vertical-align: top;
		list-style: none;
		display: inline-block;
		position: relative;
		top: -32px;
		}
		.copyright-wrapper ul li {
			display: inline-block;
			height: 80px;
			margin: 0 20px 0 0;
			}
		.copyright-wrapper ul li.downloads {
			background: url(../images/bg_downloads.png) 0 0 no-repeat;
			padding-left: 50px;
			}	
		.copyright-wrapper ul li a {
			display: inline-block;
			margin-top: 48px;			
			color: #0072BC;
			font-family: "Ma Condensed";			
			}	